<template name="addProduct">
  <div class="add-product container">
    <form class="closet-info" role="form" id="new-product">
      <h2>List A Product</h2>
      <li class="break"></li>
      <!-- product info -->
      <div class="row">
        <div class="col-md-3"><h2>Product Info</h2></div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="control-group">
              <div class="form-group">
                <label for="type">* Type</label>
                <select name="type" class="form-control" id="type">
                  <optgroup label="Clothing">
                    <option>Blazers</option>
                    <option>Coats & Jackets</option>
                    <option>Jeans</option>
                    <option>Knitwear</option>
                    <option>Pants & Shorts</option>
                    <option>Suits</option>
                    <option>Shirts</option>
                  </optgroup>
                  <optgroup label="Shoes">
                    <option>Boots</option>
                    <option>Dress Shoes</option>
                    <option>Sneakers</option>
                  </optgroup>
                  <optgroup label="Accessories">
                    <option>Belts</option>
                    <option>Cufflinks & Tie Clips</option>
                    <option>Hats</option>
                    <option>Pocket Squares</option>
                    <option>Scarves</option>
                    <option>Sunglasses</option>
                    <option>Ties</option>
                  </optgroup>

                </select>
              </div>

            </div>
            <div class="control-group">
              <label for="brand">* Brand</label>
              <div class="controls">
                <input name="brand" type="text" value="" id="brand" class="form-control" placeholder="Brand of Product" required>
              </div>

            </div>

            </div>
            <div class="control-group">
              <label for="color">* Color</label>
              <div class="controls">
                <input name="color" type="text" value="" id="color" class="form-control" placeholder="Color" required>

              </div>
            </div>
          </div>
        </div> <!--end row-->

      <div class="row">
        <div class="col-md-3">
          <h2>Upload A Photo</h2>
          <p>When uploading your photos, please make sure that they were shot on a white background in square format.</p>
        </div>
        <div class="col-md-9">
          <div class="upload-box">
            <div class="row">
              <div class="col-xs-12">
                <!-- uncomment when ready for image uploads -->
                <!-- {{> uploadImage imageCollection="productImages" doc=currentUser classInput="image-picker" inputName="product-image"}} -->
                {{> imageForm}}

                <div id="imageTwo">
                  {{> imageForm}}
                </div>

                <div id="imageThree">
                  {{> imageForm}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <li class="break"></li>

      <div class="row">
        <div class="col-md-3"><h2>Description</h2></div>
        <div class="col-md-9">
          <textarea name="description" id="description" cols="30" rows="10" placeholder="Give us a brief description of what you are selling!" required></textarea>
        </div>
      </div>

      <li class="break"></li>

      <div class="row">
        <div class="col-md-3"><h2>More Info</h2></div>
        <div class="col-md-9">
          <div class="control-group">
            <label for="title" class="control-label">* Title</label>
            <div class="controls">
              <input name="title" type="text" value="" id="title" class="form-control" placeholder="Title of New Product" required>
            </div>
          </div>
          <div class="control-group">
            <!-- CONDITION -->
            <label for="condition">* Condition</label>
            <div class="controls">
              <select class="form-control" name="condition" id="condition" required>
                <option value="" disabled selected>Select Condition</option>
                <option value="Poor">Poor</option>
                <option value="Fair">Fair</option>
                <option value="Good">Good</option>
                <option value="Excellent">Excellent</option>
                <option value="Brand New">Brand New</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="price">* Asking Price</label>
            <div class="controls">
              <input name="price" min="0.01" step="0.01" max="2500" id='price' class="form-control"  placeholder="Asking Price" required>
            </div>
          </div>
          <div class="control-group">
            <label for="size">* Size</label>
            <div class="controls">
              <input name="size" type="text" value="" id="size" class="form-control" placeholder="Size" required>
            </div>
          </div>
        </div>
      </div>
      <li class="break"></li>
      <div class="controls">
          <button type="submit" value="Submit"  class="btn btn-default" id="product-button" style="text-transform:none;">Add Product</button>
          <a href="#" class="cancel">Cancel</a>
      </div>
    </form>
  </div>
  <script type="text/javascript">
  $('.upload-photo').on('click', function(event){
      event.preventDefault();
     $('.image-picker').trigger('click');
    });
  </script>
</template>

<template name="thanksForAdding">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Thank You For Adding a Product</h4>
                </div>

                <div class="modal-body">
                    <p>Thank you for your interest in listing your product on HUNTRS. Our team will now review your product and decide if it meets our quality and condition standards. We want to ensure that items listed on our app are of high-quality and of interest to our fellow HUNTRS. You will be informed shortly if your product has made the cut.</p>
                    <p>Once a decision has been made we will email you with the next steps</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="imageForm">
  <!--{{> quickForm collection="Images" type="insert" id="add-image"}}-->
</template>
